.genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.movie {
    flex: 4 25%;
    height: 200px;
    margin-bottom: 2%;
}
.movieBottle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}